<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />



</head>

<body>

    <div id="container">

        <nav class="relative shadow-xl text-white-700">
            <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
                <div class="flex items-center justify-between text-black-500">
                    <div class="logo" style="display: flex;align-items: center;justify-content: center; gap: 5px;">
                        <a href="/">
                            <img class="w-auto h-6 sm:h-7"
                                src="https://upload.wikimedia.org/wikipedia/en/e/ec/Official_logo_of_Biju_Patanaik_University_of_Technology.png"
                                alt="">
                        </a>
                        <h3>BPUT</h3>
                    </div>
                  
                    <div class="flex center lg:hidden">
                        <button type="button"
                            class="text-gray-500 flex center dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
                            aria-label="toggle menu">
                            <svg id="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
                            </svg>



                        </button>
                    </div>
                </div>


                <div id="phone-dropdown"
                    class="absolute inset-x-0 z-20 w-full px-6 hidden py-4 transition-all duration-300 ease-in-out bg-white  md:mt-0 md:p-0 md:top-0 md:relative md:bg-transparent md:w-auto md:opacity-100 md:translate-x-0 md:flex md:items-center">
                    <div class="flex flex-col md:flex-row md:mx-6">
                     
                        <a class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-black-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0"
                            href="#">Home</a>
                   
                        <a id="dropdownUserAvatarButton"
                            class="my-2 text-gray-700 transition-colors duration-300 transform dark:text-black-200 hover:text-blue-500 dark:hover:text-blue-400 md:mx-4 md:my-0"
                            href="#">Profile</a>
                           
                               

                    </div>


                   
                   
                    <div id="dropdownUserAvatar" style="display: none;">
                        <div id="dropdownAvatar"
                            class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white-700 dark:divide-gray-600">
                            <div class="px-4 py-3 text-sm text-gray-900 dark:black-white">
                                <div>ADMIN</div>
                                <div class="font-medium truncate">@BPUT.UNIVERSITY</div>
                            </div>
                            <ul class="py-2 text-sm text-gray-700 dark:text-black-200"
                                aria-labelledby="dropdownUserAvatarButton">
                                <%  if (user.role === 'admin'){ %>
                                <li>
                                    <a href="/admin/dashboard"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                                </li>
                                <% }else{%>
                                <li>
                                    <a href="/company/dashboard"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        Dashboard</a>
                                </li>
                                <% } %>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></a>
                                </li>
                            </ul>
                         <%if( currUser){ %>
                            <div class="py-2">
                                <a href="/logout"
                                    class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-black-200 dark:hover:text-white">Sign
                                    out</a>
                            </div>
                           <% }else{ %>
                            <div class="py-2">
                                <a href="/login"
                                    class="block px-4 py-2 text-sm text-black-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-black-200 dark:hover:text-white">Sign
                                    in</a>
                            </div>
                          <% } %>
                        </div>
                    </div>

                </div>
        </nav>
        <span id="chat-opn"   class="bg-purple-600 p-2 m-3 rounded-lg text-white fixed right-0 bottom-0">
            Ai Assistant
        </span>

        <div id="page2">
            
            <div id="chat-container">
            <div class="max-w-md w-full mx-auto p-4" >

                <div class="bg-white  rounded-lg shadow-md p-4">

                    <div class="flex items-center mb-4">
                        <div class="ml-3">
                            <div class="top">
                            <p class="text-xl font-medium">Your AI Assistant</p>
                          
                            </div>
                          
                            <img id="loader" style="display: none;"
                                src="https://loading.io/assets/mod/spinner/spinner/lg.gif" width="150px"
                                alt="Loading...">

                        </div>
                    </div>

                    <div id="chat-history" class="space-y-4 overflow-y-auto h-64"> </div>






                    <div class="mt-4 flex items-center">
                        <form id="chat-form">
                            <input id="user-input" type="text" placeholder="Type your message..."
                                class="flex-1 py-2 px-3 rounded-full bg-gray-100 focus:outline-none" required />
                            <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded-full ml-3 hover:bg-blue-600">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="top">
                <img src="https://bput.demoapplication.in/wp-content/uploads/2023/11/bput-slide-1.jpg" alt="">
            </div>





<div class="flex justify-center items-center  ">
 
    <button id="openContactForm" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Open Contact Form
    </button>

   
    <div id="contactFormModal" class="fixed z-10 inset-0 overflow-y-auto  hidden">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white w-1/2 p-6 rounded shadow-md">
                <div class="flex justify-end">
                 
                    <button id="closeContactForm" class="text-gray-700 hover:text-red-500">
                        <i class="ri-close-large-line"></i>
                    </button>
                </div>
                <h2 class="text-2xl font-bold mb-4">ONLY FOR BPUT STUDENTS</h2>

            <form action="/student/login" method="post">
                    <div class="mb-4">
                        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Registration Number</label>
                        <input type="text" id="name" name="registrationNumber"
                            class="w-full p-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Enter your registration number">
                               
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Phone Number</label>
                        <input type="number" id="email" name="number"
                               class="w-full p-2 border rounded-md focus:outline-none focus:border-blue-500" placeholder="Enter your phone number">
                    </div>
                   
                   
                   
                    <button type="submit"
                            class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">
                        Send Message
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




    
  






            <div class="container px-6 py-10 mx-auto">
                <h1 class="text-3xl font-semibold text-center text-gray-800 capitalize lg:text-4xl dark:text-black">
                    ACHIEVMENT</h1>

                <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                    OUR STUDENT PLACED IN MULTIPLE MNC
                </p>

                <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
                    <div class="flex flex-col items-center p-8  ">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/9c/fc/8b/9cfc8b25d79c075d69550e4136a0aa12.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Aarav Sharma </h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In JP MORGAN</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            ROLAND INSTIUTE OF TECHKNOWLEDGY
                        </p>

                    </div>

                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/38/54/a8/3854a8e825bc816e7d7c2caa2c255460.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Rohan Mehta</h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In ACCENTURE </p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Kalinga Institute of Social Sciences (KISS), Bhubaneswar
                        </p>

                    </div>
                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/65/49/5c/65495cc7f4f5fd5cf40a8f53281e32ae.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Vikram Singh </h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In WIPRO</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Bhubaneswar Engineering College, Bhubaneswar
                        </p>

                    </div>
                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://media.istockphoto.com/id/1338134319/photo/portrait-of-young-indian-businesswoman-or-school-teacher-pose-indoors.webp?a=1&b=1&s=612x612&w=0&k=20&c=8Ugqyp2TveGKDtzT_n18b3ECDJQHvfLhyuU1JDdfVDQ="
                            alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Priya Gupta</h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In TECH MAHINDRA</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Indira Gandhi Institute of Technology (IGIT), Sarang
                        </p>

                    </div>
                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/bb/f7/79/bbf7790a9929f04b3c25824125dcdade.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Karan Joshi</h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In TCS</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Orissa School of Mining Engineering (OSME), Keonjhar
                        </p>

                    </div>

                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://media.istockphoto.com/id/2060433249/photo/photo-of-young-girl-wearing-t-shirt-isolated-yellow-background-stock-photo.webp?a=1&b=1&s=612x612&w=0&k=20&c=hk99PC5UEh5LemwxdHqRKrFCVEu2eKuL4W9t0n74mfU="
                            alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Neha Patel</h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In TCS</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Gandhi Institute for Technological Advancement (GITA), Bhubaneswar
                        </p>

                    </div>
                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/86/e0/86/86e086efb17f46db00b20a433aca4a55.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Sneha Reddy </h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In TCS</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Sambalpur University Institute of Information Technology (SUIIT), Sambalpur
                        </p>

                    </div>
                    <div class="flex flex-col items-center p-8  rounded-xl">
                        <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
                            src="https://i.pinimg.com/236x/b8/a0/15/b8a01572cc10a6a184f0a1b0211cb8f2.jpg" alt="">

                        <h1
                            class="mt-4 text-2xl font-semibold text-black capitalize dark:text-black group-hover:text-white">
                            Rohan Mehta</h1>

                        <p class="mt-2 text-gray-500 capitalize dark:text-black-300 group-hover:text-gray-300">
                            Placed In TCS</p>
                        <p class="max-w-2xl mx-auto my-6 text-center text-black-500 dark:text-black-300">
                            Kalinga Institute of Industrial Technology (KIIT), Bhubaneswar
                        </p>

                    </div>
                </div>
            </div>
            </section>
            <footer class="bg-white md:flex md:items-center md:justify-between shadow rounded-lg p-4 md:p-6 xl:p-8 my-6 mx-4">
                <ul class="flex items-center flex-wrap mb-6 md:mb-0">
                    <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Terms and conditions</a>
                    </li>
                    <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Privacy Policy</a></li>
                    <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Licensing</a></li>
                    <li><a href="#" class="text-sm font-normal text-gray-500 hover:underline mr-4 md:mr-6">Cookie Policy</a></li>
                    <li><a href="https://www.bput.ac.in/contact-bput.html" class="text-sm font-normal text-gray-500 hover:underline">Contact</a></li>
                </ul>
                <div class="flex sm:justify-center space-x-6">
                    <a href="https://www.facebook.com/bijupatnaikuniversityoftechnologybput/" class="text-gray-500 hover:text-gray-900">
                        <i class="ri-facebook-circle-fill"></i>
                    </a>
                    <a href="https://www.linkedin.com/school/biju-patnaik-university-of-technology-odisha/" class="text-gray-500 hover:text-gray-900">
                        <i class="ri-linkedin-box-fill"></i>
                    </a>
                    <a href="https://x.com/bputofficial" class="text-gray-500 hover:text-gray-900">
                        <i class="ri-twitter-x-fill"></i>
                    </a>
                    <a href="https://www.youtube.com/bputodisha" class="text-gray-500 hover:text-gray-900">
                        <i class="ri-youtube-fill"></i>
                    </a>
                  
                </div>
            </footer>
        </div>








        <script>
            let profileDropdown = document.getElementById('dropdownUserAvatarButton');
            let profile = document.getElementById('dropdownUserAvatar');

            profileDropdown.addEventListener('click', () => {

                profile.style.display = (profile.style.display === "none" || profile.style.display === "") ? "block" : "none";

            });
            let profil = document.getElementById('phone-dropdown');
            let open = document.getElementById('open');

            open.addEventListener('click', () => {
                profil.style.display = (profil.style.display === "none" || profil.style.display === "") ? "block" : "none";

            });
            const chatHistory = document.getElementById('chat-history');
            const userInput = document.getElementById('user-input');
            const form = document.getElementById('chat-form');
            const chatBox = document.getElementById('chat-container');
            const chatopn = document.getElementById('chat-opn');
            chatopn.addEventListener('click', () => {
                chatBox.style.display = (chatBox.style.display === "none" || chatBox.style.display === "") ? "block" : "none";

            });
            

            async function sendMessage() {
                const userMessage = userInput.value;
                userInput.value = '';
                console.log(userMessage)
                try {
                    const response = await fetch('/chat', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ userInput: userMessage }),
                    });

                    const data = await response.json();
                    console.log(data)
                    const botMessage = data.response;
                    console.log(botMessage)
                   

                    chatHistory.innerHTML += ` <div class="flex items-end justify-end">
        <div class="bg-blue-500 p-3 rounded-lg">
          <p class="text-sm text-white">${userMessage}</p>
        </div>
        
      </div>`;
                    chatHistory.innerHTML += `  <div class="flex items-start">
      
      <div class="ml-3 bg-gray-100 p-3 rounded-lg">
        <p id="bot-msg" class="text-sm text-gray-800">${botMessage}</p>
      </div>
    </div>`;


                    chatHistory.scrollTop = chatHistory.scrollHeight;
                } catch (error) {
                    console.error('Error:', error);

                }
            }

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const loader = document.getElementById('loader');
                loader.style.display = 'block';
                sendMessage().finally(() => {
                    loader.style.display = 'none';
                });;
            });


            
// JavaScript to toggle the modal
    const openContactFormButton = document.getElementById('openContactForm');
    const closeContactFormButton = document.getElementById('closeContactForm');
    const contactFormModal = document.getElementById('contactFormModal');

    openContactFormButton.addEventListener('click', () => {
        contactFormModal.classList.remove('hidden');
    });

    closeContactFormButton.addEventListener('click', () => {
        contactFormModal.classList.add('hidden');
    });
        </script>




</body>

</html>