

#dropdownUserAvatarButton{
    position: relative;
}

#dropdownUserAvatar{
    width: 100px;
    position: absolute;

    top: 180%;
    right: 10%;
}
#img{
    object-fit: cover;
    object-position: center;
}
#alert{
    width: 90%;
       background-color: rgb(255, 255, 255);
       position: absolute;
       margin-left: 20px;
       top: 80px;
   z-index: 50;
      
   
       box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   }
   #alert-txt{
       width: 90%;
     
       color: black;
   }
   #alert-cls{
       width: 10%;
 
   }

@media screen  and (max-width: 768px) {
    #dropdownUserAvatarButton{
        position: relative;
    }
    
    #dropdownUserAvatar{
        width: 100%;
        position: absolute;
    
        top: 100%;
        left: 20px;
    }
    
}

@media screen  and (max-width: 1023px) {
  #open{
    display: none;
  }
    
}

@media screen  and (max-width: 767px) {
    #open{
      display: block;
    }
      
  }
  