<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Jobs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Match Jobs</h1>
        
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Quick Links</h2>
            <a href="https://www.linkedin.com" target="_blank"
                class="block text-blue-600 hover:underline mb-2">Visit LinkedIn</a>
            <a href="https://chromewebstore.google.com/detail/scrapejob-linkedin-job-sc/kiidbbloiomikeedemgcgdelecalehkk?hl=en-US&utm_source=ext_sidebar" target="_blank"
                class="block text-blue-600 hover:underline">Download Job Matching Extension</a>
        </div>

        <div class="mb-6">
            <h2 class="text-lg font-semibold">Upload Job Information</h2>
            <form action="/upload-job-info" method="POST" enctype="multipart/form-data" class="mt-4">
                <label class="block mb-2 text-sm font-medium text-gray-700" for="jobFile">Upload Excel File:</label>
                <input type="file" id="jobFile" name="jobFile" accept=".xlsx"
                    class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                <p class="mt-1 text-sm text-gray-500">Upload a file containing job details in Excel format.</p>
                <button type="submit"
                    class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Submit
                </button>
            </form>
        </div>
    </div>
</body>

</html>